.button {
  width: 42px;
  height: 42px;
  background-color: var(--Dark-Blue, #262e38);
  border-radius: 50%;
  border: none;
  color: var(--Medium-Gray, #7c8798);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.175px;
}
@media only screen and (min-width: 940px) {
  .button {
    width: 51px;
    height: 51px;
    font-size: 16px;
    letter-spacing: 0.2px;
  }

  .button:hover {
    cursor: pointer;
    background-color: var(--Orange, #fc7614);
    color: var(--Pure-White, #fff);
    transition: 0.5s;
  }
}
